[v-cloak] {
  display: none;
}

.kj-progress-bar {
	height: 2rem;
	font-size: 1rem;
}

.kj-progress-bar .progress-bar{
    background-color: #111111;
}

.kj-progress-bar-health {
	height: 2rem;
	font-size: 1rem;
}

.kj-progress-bar-health .progress-bar{
    background-color: #ee4444;
}

.bg-dark-2 {
	background-color: #505050!important;
}

.blue {
	color: blue;
}

.red {
	color: red;
}